@using System.ComponentModel
@inject IJSRuntime Js

    <div style="display: flex; flex-wrap: wrap; align-items: center;">
        <GenericList Collection="Movies">
            <Item>
                <MovieDetail Movie="context" DeleteMovie="DeleteMovie" />
            </Item>
        </GenericList>
    </div>

@code {

    [Parameter]
    public List<Movie> Movies { get; set; }

    async Task DeleteMovie(Movie movie)
    {
        var isDeleted = await Js.Confirm($"Do you want remove the {movie.Title} movie?");

        if (isDeleted)
        {
            Console.WriteLine($"A movie ({movie.Title}) has been deleted");
            Movies.Remove(movie);
        }
    }
}
