@page "/"
@inject IMovieRepository movieRepository
@using static BlazorMovies.Client.Shared.MainLayout

<div>
    <h1>Movies</h1>
    <MovieList Movies="Movies" />
</div>

@code {

    public List<Movie> Movies;

    protected override void OnInitialized()
    {
        Movies = movieRepository.GetMovies();
    }
}